@media screen and (min-width: 768px) {
  .page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
  }
}
.page__container {
  margin-top: 4rem;
}
@media screen and (min-width: 768px) {
  .page__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.link {
  color: #000;
  -webkit-transition: color .3s;
  transition: color .3s;
}
.link:hover,
.link:active {
  color: #384997;
}
.title {
  margin-top: 0;
  margin-bottom: 0;
}
.header {
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
@media screen and (max-width: 767px) {
  .header {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid #384997;
  }
}
@media screen and (min-width: 768px) and (max-width: 1400px) {
  .header__logo {
    width: 212px;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
  }
}
@media screen and (max-width: 767px) and (min-width: 651px) {
  .header__logo {
    width: 20rem;
    margin-right: 2rem;
    display: inline-block;
    vertical-align: top;
  }
}
@media screen and (max-width: 650px) {
  .header__logo {
    text-align: center;
    margin-bottom: .9rem;
  }
}
@media screen and (min-width: 651px) {
  .header__link {
    display: block;
  }
}
@media screen and (max-width: 650px) {
  .header__link {
    display: inline-block;
    width: 20rem;
  }
}
.header__img {
  display: block;
}
@media screen and (min-width: 1070px) and (max-width: 1275px) {
  .header__schedules {
    width: 17%;
  }
}
@media screen and (min-width: 1276px) {
  .header__schedules {
    width: 15%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1069px) {
  .header__schedules {
    width: 30%;
  }
}
@media screen and (max-width: 767px) and (min-width: 651px) {
  .header__schedules {
    display: inline-block;
    vertical-align: top;
    width: 25%;
  }
}
@media screen and (max-width: 650px) and (min-width: 320px) {
  .header__schedules {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin-right: 5%;
  }
}
@media screen and (max-width: 319px) {
  .header__schedules {
    margin-top: 1rem;
  }
}
.header__schedule {
  background-image: url("../images/time.svg");
}
.header__schedule:not(:last-of-type) {
  margin-bottom: 1.7rem;
}
.header__schedule-title {
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.main-container {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 1400px) {
  .main-container {
    max-width: 1400px;
    margin: 0 auto;
  }
}
.icon {
  background-repeat: no-repeat;
  background-position: left 10%;
}
@media screen and (min-width: 951px) {
  .icon {
    padding-left: 2.7rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 950px) {
  .icon {
    padding-left: 3.7rem;
  }
}
@media screen and (max-width: 767px) {
  .icon {
    padding-left: 2.8rem;
  }
}
.search {
  width: 40%;
}
@media screen and (min-width: 1276px) {
  .search {
    width: 40%;
  }
}
@media screen and (min-width: 1070px) and (max-width: 1275px) {
  .search {
    width: 35%;
  }
}
@media screen and (max-width: 1069px) {
  .search {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 100%;
  }
  .search__input {
    background-position: 1% 50%;
  }
}
@media screen and (max-width: 768px) {
  .search {
    display: none;
  }
}
.search__hint {
  display: block;
  font-weight: 700;
  margin-bottom: 1.2rem;
}
.search__row {
  position: relative;
}
.search__input {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1.2rem 3.3rem 1.2rem 4.3rem;
  border: 1px solid #b9b9bb;
  background-image: url("../images/loupe.svg");
  background-repeat: no-repeat;
}
@media screen and (min-width: 1070px) {
  .search__input {
    background-position: 3% 50%;
  }
}
.search__button {
  position: absolute;
  top: .2rem;
  right: .2rem;
  padding-top: 2.2rem;
  padding-right: 3.3rem;
  text-indent: -9999px;
  border: none;
  background-color: #fff;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.search__button:hover {
  cursor: pointer;
}
.address {
  font-style: normal;
}
@media screen and (min-width: 1070px) {
  .address {
    width: 20%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1069px) {
  .address {
    width: 25%;
  }
}
@media screen and (max-width: 767px) and (min-width: 651px) {
  .address {
    display: inline-block;
    vertical-align: top;
    width: 30%;
  }
}
@media screen and (max-width: 650px) and (min-width: 320px) {
  .address {
    display: inline-block;
    vertical-align: top;
    width: 45%;
  }
}
@media screen and (max-width: 319px) {
  .address {
    margin-top: 2rem;
  }
}
.address__phone {
  display: block;
  margin-bottom: .5rem;
  font-weight: 700;
  background-position: left 50%;
  background-image: url("../images/phone.svg");
}
@media screen and (min-width: 1128px) {
  .address__phone {
    font-size: 2rem;
  }
}
@media screen and (max-width: 1127px) and (min-width: 387px) {
  .address__phone {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 386px) {
  .address__phone {
    font-size: 1.5rem;
  }
}
.address__location {
  display: block;
  margin-bottom: .9rem;
  background-image: url("../images/location.svg");
}
.address__email {
  display: block;
  background-image: url("../images/mail.svg");
}
.menu {
  background: #384997;
}
@media screen and (min-width: 768px) {
  .menu__button {
    display: none;
  }
}
.menu__switch {
  font-size: 0;
}
.menu__list {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
  padding-right: 0;
}
@media screen and (min-width: 768px) {
  .menu__switch {
    display: none;
  }
  .menu__list:after {
    display: block;
    content: "";
    clear: left;
  }
  .menu__list-item {
    float: left;
  }
  .menu__link {
    position: relative;
    display: block;
    padding: 1rem;
    color: #fff;
    -webkit-transition: background .3s,
                    border .3s;
    transition: background .3s,
                    border .3s;
  }
  .menu__link:hover:after,
  .menu__link:active:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    border-bottom: 2px solid #fff;
  }
  .menu__link:hover,
  .menu__link:active {
    background: #4758a5;
  }
}
@media screen and (max-width: 767px) {
  .menu__list {
    -webkit-box-shadow: inset 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 5px rgba(0, 0, 0, 0.5);
    display: none;
  }
  .menu__link {
    display: block;
    font-weight: bold;
    color: #fff;
    padding: 1rem;
    font-size: 1.4rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #384997;
    -webkit-transition: background-color 0.1s linear, color 0.1s linear;
    transition: background-color 0.1s linear, color 0.1s linear;
  }
  .menu__link:not(:first-of-type) {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  .menu__link:not(:last-of-type) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .menu__link:last-of-type {
    -webkit-box-shadow: inset 0 -5px 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 -5px 10px -5px rgba(0, 0, 0, 0.4);
  }
  .menu__link:hover {
    background: #4758a5;
  }
  .menu__link:active {
    background: #4758a5;
  }
  .menu__switch {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url("data:image/svg+xml;utf8,<svg version='1.0' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='25px' height='23px' viewBox='0 0 25 23' enable-background='new 0 0 25 23' xml:space='preserve'> <g><rect width='25' height='4' fill='#384997' /><rect y='9' width='25' height='4' fill='#384997' /><rect y='18' width='25' height='4' fill='#384997' /></g></svg>") no-repeat;
  }
  .menu__button {
    display: none;
  }
  .menu__button:checked + .menu__switch {
    background-image: url("data:image/svg+xml;utf8,<svg version='1.0' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='22.199px' height='22.199px' viewBox='0 0 22.199 22.199' enable-background='new 0 0 22.199 22.199' xml:space='preserve'> <polygon points='22.199,2.804 19.396,0 11.1,8.297 2.804,0 0,2.803 8.297,11.1 0,19.396 2.803,22.199 11.1,13.902 19.396,22.199 22.199,19.396 13.903,11.1 ' fill='#384997'/> </svg>");
  }
  .menu__button:checked ~ .menu__list {
    display: block;
  }
}
.main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.main__title {
  font-size: 2.8rem;
  margin-bottom: 2.8rem;
}
@media screen and (min-width: 1200px) {
  .sidebar {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 420px;
    margin-left: 11.6rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .sidebar {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 320px;
    margin-left: 8.6rem;
  }
}
.feedback {
  margin-bottom: 5.4rem;
}
.feedback__title {
  font-size: 2.6rem;
  margin-bottom: 3rem;
}
.feedback__form {
  padding: 4.3rem 2.5rem 2.8rem;
  background: #f5f9fa;
}
.feedback__label {
  display: block;
}
.feedback__label:not(:last-child) {
  margin-bottom: 2.6rem;
}
.feedback__hint {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}
.feedback__input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 1.1rem 4.3rem;
  border: 1px solid #b9b9bb;
  background-repeat: no-repeat;
  background-position: 1.8rem 50%;
}
.feedback__input_name-bg {
  background-image: url("../images/person.svg");
}
.feedback__input_date-bg {
  background-image: url("../images/date.svg");
}
.feedback__button {
  padding: 1.3rem 0;
  width: 100%;
  border: none;
  cursor: pointer;
  background: #384997;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: background .3s;
  transition: background .3s;
}
.feedback__button:hover,
.feedback__button:active {
  background: #4758a5;
}
.documents__header {
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .documents__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
.documents__title {
  font-size: 2.6rem;
}
.documents__link {
  font-size: 1.5rem;
  color: #4758a5;
}
@media screen and (min-width: 768px) {
  .documents__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.document {
  margin-bottom: 1.6rem;
}
.document__link {
  color: #4758a5;
}
.document__img {
  margin-right: .5rem;
}
@media screen and (min-width: 768px) {
  .document__img {
    width: 40px;
  }
  .document__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .document__img {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
  }
  .document__name {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}
@media screen and (max-width: 767px) {
  .document__link {
    display: block;
  }
  .document__img {
    width: 10%;
    display: inline-block;
    vertical-align: middle;
  }
  .document__name {
    display: inline-block;
    vertical-align: middle;
  }
}
@media screen and (max-width: 462px) {
  .document__name {
    width: 70%;
  }
}
.news {
  margin-top: 4rem;
}
.news__title {
  font-size: 2.6rem;
  margin-bottom: 3.9rem;
}
@media screen and (min-width: 768px) {
  .news__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .news__item {
    width: 30%;
  }
}
.news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.news-item__date {
  margin-right: 1.9rem;
  line-height: 1;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .news-item__date {
    width: 8%;
  }
}
.news-item__number {
  display: block;
}
.news-item__number {
  font-weight: 700;
  color: #384997;
  margin-bottom: .8rem;
}
@media screen and (max-width: 768px) {
  .news-item__number {
    margin-bottom: .6rem;
  }
}
@media screen and (min-width: 651px) {
  .news-item__number {
    font-size: 4.5rem;
  }
}
@media screen and (max-width: 650px) {
  .news-item__number {
    font-size: 4rem;
  }
}
.news-item__month {
  display: block;
}
.news-item__year {
  font-size: 1.5rem;
}
@media screen and (min-width: 651px) {
  .news-item__titl {
    font-size: 2rem;
  }
}
@media screen and (max-width: 650px) {
  .news-item__titl {
    font-size: 1.7rem;
  }
}
.news-item__title {
  font-size: 2rem;
}
.footer {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  padding: 1.6rem 0 .8rem;
  margin-top: 8.1rem;
  background-color: #384997;
  color: #fff;
}
.footer__copyright {
  display: block;
  text-align: right;
  font-size: 1.3rem;
}
@media screen and (max-width: 399px) {
  .footer__copyright {
    text-align: center;
  }
}
@media screen and (max-width: 399px) {
  .props {
    display: none;
  }
}
.props__title {
  font-size: 1.5rem;
  margin-bottom: 1.1rem;
}
.props__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.props__info {
  margin-right: 4.5rem;
}
@media screen and (min-width: 768px) {
  .prop {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 767px) {
  .prop {
    font-size: 1rem;
  }
}
.prop:not(:last-child) {
  margin-bottom: .4rem;
}
.prop__name {
  margin-right: 1.4rem;
  font-weight: 700;
}
@media screen and (min-width: 1401px) {
  html {
    font-size: 70%;
  }
}
@media screen and (min-width: 951px) and (max-width: 1400px) {
  html {
    font-size: 62.5%;
  }
}
@media screen and (min-width: 768px) and (max-width: 950px) {
  html {
    font-size: 52.5%;
  }
}
@media screen and (min-width: 400px) and (max-width: 767px) {
  html {
    font-size: 62.5%;
  }
}
@media screen and (max-width: 399px) {
  html {
    font-size: 62.5%;
  }
}
body {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 1.7rem;
  background: #fff;
  overflow-x: hidden;
}
h1 {
  font-size: 1.75rem;
}
h2 {
  font-size: 1.625rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.375rem;
}
p {
  margin-bottom: 2rem;
  line-height: 1.5;
}
p:last-child {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: inline-block;
  max-width: 100%;
}
a {
  text-decoration: none;
}
ul {
  line-height: 1.5;
}
::-webkit-input-placeholder {
  color: #b9b9bb;
}
input,
button,
select,
textarea {
  font-size: 1.5rem;
}
input:not([type="checkbox"]):not([type="radio"]),
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}
