@font-face {
  font-family: PT-Sans;
  src: url("../fonts/PT-Sans-Regular.woff") format("woff"), url("../fonts/PT-Sans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PT-Sans";
  src: url("../fonts/PT-Sans-Bold.woff") format("woff"), url("../fonts/PT-Sans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@media screen and (min-width: 1401px) {
  html {
    font-size: 70%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1400px) {
  html {
    font-size: 62.5%;
  }
}
@media screen and (min-width: 400px) and (max-width: 767px) {
  html {
    font-size: 52.5%;
  }
}
@media screen and (max-width: 399px) {
  html {
    font-size: 32.5%;
  }
}
body {
  margin: 0;
  font-family: "PT-Sans", Arial, sans-serif;
  font-size: 1.6rem;
  background: #fff;
}
h1 {
  font-size: 1.75rem;
}
h2 {
  font-size: 1.625rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.375rem;
}
p {
  margin-bottom: 1rem;
}
p:last-child {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
