.page__container {
  margin-top: 4rem;
}
.page__content {
  display: flex;
  justify-content: space-between;
}
.link {
  color: #000;
  transition: color .3s;
}
.link:hover,
.link:active {
  color: #384997;
}
.title {
  margin-top: 0;
  margin-bottom: 0;
}
.header {
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-size: 1.5rem;
}
@media screen and (min-width: 1070px) {
  .header__logo {
    width: 15%;
  }
}
@media screen and (max-width: 1069px) {
  .header__logo {
    width: 25%;
  }
}
.header__link {
  display: block;
}
.header__img {
  display: block;
}
@media screen and (min-width: 1070px) and (max-width: 1275px) {
  .header__schedules {
    width: 17%;
  }
}
@media screen and (min-width: 1276px) {
  .header__schedules {
    width: 15%;
  }
}
@media screen and (max-width: 1069px) {
  .header__schedules {
    width: 30%;
  }
}
.header__schedule {
  background-image: url("../images/time.svg");
}
.header__schedule:not(:last-of-type) {
  margin-bottom: 1.7rem;
}
.header__schedule-title {
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) and (max-width: 1600px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}
.main-container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
@media screen and (min-width: 1400px) {
  .main-container {
    max-width: 1400px;
    margin: 0 auto;
  }
}
.icon {
  padding-left: 2.7rem;
  background-repeat: no-repeat;
  background-position: left 10%;
}
.search {
  width: 40%;
}
@media screen and (min-width: 1276px) {
  .search {
    width: 40%;
  }
}
@media screen and (min-width: 1070px) and (max-width: 1275px) {
  .search {
    width: 35%;
  }
}
@media screen and (max-width: 1069px) {
  .search {
    order: 1;
    width: 100%;
  }
  .search__input {
    background-position: 1% 50%;
  }
}
.search__hint {
  display: block;
  font-weight: 700;
  margin-bottom: 1.2rem;
}
.search__row {
  position: relative;
}
.search__input {
  width: 100%;
  box-sizing: border-box;
  padding: 1.2rem 3.3rem 1.2rem 4.3rem;
  border: 1px solid #b9b9bb;
  background-image: url("../images/loupe.svg");
  background-repeat: no-repeat;
}
@media screen and (min-width: 1070px) {
  .search__input {
    background-position: 3% 50%;
  }
}
.search__button {
  position: absolute;
  top: .1rem;
  right: .1rem;
  padding-top: 2.3rem;
  padding-right: 3.3rem;
  text-indent: -9999px;
  border: none;
  background-color: #fff;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.search__button:hover {
  cursor: pointer;
}
.address {
  font-style: normal;
}
@media screen and (max-width: 1069px) {
  .address {
    width: 25%;
  }
}
@media screen and (min-width: 1070px) {
  .address {
    width: 20%;
  }
}
.address__phone {
  display: block;
  margin-bottom: .5rem;
  font-size: 2rem;
  font-weight: 700;
  background-position: left 50%;
  background-image: url("../images/phone.svg");
}
.address__location {
  display: block;
  margin-bottom: .9rem;
  background-image: url("../images/location.svg");
}
.address__email {
  display: block;
  background-image: url("../images/mail.svg");
}
.menu {
  background: #384997;
}
.menu__list {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.menu__list-item {
  float: left;
}
.menu__list:after {
  display: block;
  content: "";
  clear: left;
}
.menu__link {
  position: relative;
  display: block;
  padding: 1rem;
  color: #fff;
  transition: background .3s,
                border .3s;
}
.menu__link:hover:after,
.menu__link:active:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  border-bottom: 2px solid #fff;
}
.menu__link:hover,
.menu__link:active {
  background: #4758a5;
}
.main {
  width: 62%;
}
.main__title {
  font-size: 2.8rem;
  margin-bottom: 2.8rem;
}
.sidebar {
  width: 31%;
}
.sidebar_padding {
  padding-top: .6rem;
}
.feedback {
  margin-bottom: 5.4rem;
}
.feedback__title {
  font-size: 2.6rem;
  margin-bottom: 3rem;
}
.feedback__form {
  padding: 4.3rem 2.5rem 2.8rem;
  background: #f5f9fa;
}
.feedback__label {
  display: block;
}
.feedback__label:not(:last-child) {
  margin-bottom: 2.6rem;
}
.feedback__hint {
  display: block;
  margin-bottom: 1rem;
  font-weight: 700;
}
.feedback__input {
  box-sizing: border-box;
  width: 100%;
  padding: 1.1rem 4.3rem;
  border: 1px solid #b9b9bb;
  background-repeat: no-repeat;
  background-position: 5% 50%;
}
.feedback__input_name-bg {
  background-image: url("../images/person.svg");
}
.feedback__input_date-bg {
  background-image: url("../images/date.svg");
}
.feedback__button {
  padding: 1.3rem 0;
  width: 100%;
  border: none;
  cursor: pointer;
  background: #384997;
  color: #fff;
  text-transform: uppercase;
  transition: background .3s;
}
.feedback__button:hover,
.feedback__button:active {
  background: #4758a5;
}
.documents__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.documents__title {
  font-size: 2.6rem;
}
.documents__link {
  font-size: 1.5rem;
  color: #4758a5;
}
@media screen and (min-width: 768) {
  .documents__container {
    display: flex;
  }
}
.document__link {
  display: flex;
  align-items: center;
  color: #4758a5;
  margin-top: 1.6rem;
}
.document__img {
  width: 10%;
  margin-right: .9rem;
}
.news {
  margin-top: 4rem;
}
.news__title {
  font-size: 2.6rem;
  margin-bottom: 3.9rem;
}
.news__content {
  display: flex;
  justify-content: space-between;
}
.news__item {
  width: 21%;
}
.news-item {
  display: flex;
  align-items: flex-start;
}
.news-item__date {
  line-height: 1;
}
.news-item__number {
  display: block;
}
.news-item__date {
  margin-right: 1.9rem;
}
.news-item__number {
  font-size: 4.5rem;
  font-weight: 700;
  color: #384997;
  margin-bottom: .8rem;
}
.news-item__month {
  display: block;
  text-align: center;
}
.news-item__year {
  font-size: 1.5rem;
}
.news-item__title {
  font-size: 2rem;
}
.footer {
  padding: 1.6rem 0 .8rem;
  margin-top: 8.1rem;
  background-color: #384997;
  color: #fff;
}
.footer__copyright {
  display: block;
  text-align: right;
  font-size: 1.3rem;
}
.props__title {
  font-size: 1.5rem;
  margin-bottom: 1.1rem;
}
.props__container {
  display: flex;
}
.props__info {
  margin-right: 4.5rem;
}
.prop {
  font-size: 1.3rem;
}
.prop:not(:last-child) {
  margin-bottom: .4rem;
}
.prop__name {
  margin-right: 1.4rem;
  font-weight: 700;
}
@media screen and (min-width: 1401px) {
  html {
    font-size: 70%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1400px) {
  html {
    font-size: 62.5%;
  }
}
@media screen and (min-width: 400px) and (max-width: 767px) {
  html {
    font-size: 52.5%;
  }
}
@media screen and (max-width: 399px) {
  html {
    font-size: 32.5%;
  }
}
body {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 1.7rem;
  background: #fff;
}
h1 {
  font-size: 1.75rem;
}
h2 {
  font-size: 1.625rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.375rem;
}
p {
  margin-bottom: 2rem;
  line-height: 1.5;
}
p:last-child {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: inline-block;
  max-width: 100%;
}
a {
  text-decoration: none;
}
ul {
  line-height: 1.5;
}
::-webkit-input-placeholder {
  color: #b9b9bb;
}
input,
button,
select,
textarea {
  font-size: 1.5rem;
}
