.address{
    font-style: normal;
}

@media screen and (max-width: 1069px){

    .address{
        width: 25%;
    }
}

@media screen and (min-width: 1070px){

    .address{
        width: 20%;
    }
}

.address__phone{
    display: block;
    margin-bottom: .5rem;
    font-size: 2rem;
    font-weight: 700;
    background-position: left 50%;
    background-image: url("../images/phone.svg");
}

.address__location{
    display: block;
    margin-bottom: .9rem;
    background-image: url("../images/location.svg");
}

.address__email{
    display: block;
    background-image: url("../images/mail.svg");
}
