.documents__header{
    margin-bottom: 3rem;
}

.documents__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.documents__link{
    font-size: 1.5rem;
    color: #4758a5;
}
