.footer{
    flex: none;
    padding: 1.6rem 0 .8rem;
    margin-top: 8.1rem;
    background-color: @main-color;
    color: @white-color;
}

.footer__copyright{
    display: block;
    text-align: right;
    font-size: 1.3rem;
}


@media screen and (max-width: 399px){

    .footer__copyright{
        text-align: center;
    }
}
