.header{
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.header__logo{
    margin-right: 3rem;
}

.header__img{
    display: block;
}

.header__schedules{
    width: 14%;
    margin-right: 3rem;
}

.header__schedule{
    background-image: url("../images/clock.png");
}

.header__schedule:not(:last-of-type){
    margin-bottom: 1.7rem;
}

.header__schedule-title{
    font-size: 1.5rem;
}

@media screen and (min-width: 768px) and (max-width: 1600px){

    .header__container{
        display: flex;
        align-items: center;
    }
}
