.header{
    font-size: 1.5rem;
}

@media screen and (min-width: 768px){

    .header{
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

@media screen and (max-width: 767px){

    .header{
        padding-top: 2rem;
        padding-bottom: 2rem;
        border-bottom: 2px solid @main-color;
    }
}

@media screen and (min-width: 768px) and (max-width: 1400px){

    .header__logo{
        width: 212px;
        flex: none;
    }
}


@media screen and (max-width: 767px) and (min-width: 651px){

    .header__logo{
        width: 20rem;
        margin-right: 2rem;
        display: inline-block;
        vertical-align: top;
    }
}

@media screen and (max-width: 650px){

    .header__logo{
        text-align: center;
        margin-bottom: .9rem;
    }
}

@media screen and (min-width: 651px){

    .header__link{
        display: block;
    }
}

@media screen and (max-width: 650px){

    .header__link{
        display: inline-block;
        width: 20rem;
    }
}

.header__img{
    display: block;
}

@media screen and (min-width: 1070px) and (max-width: 1275px){

    .header__schedules{
        width: 17%;
    }

}

@media screen and (min-width: 1276px){

    .header__schedules{
        width: 15%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1069px){

    .header__schedules{
        width: 30%;
    }
}

@media screen and (max-width: 767px) and (min-width: 651px){

    .header__schedules{
        display: inline-block;
        vertical-align: top;
        width: 25%;
    }
}


@media screen and (max-width: 650px) and (min-width: 320px){

    .header__schedules{
        display: inline-block;
        vertical-align: top;
        width: 45%;
        margin-right: 5%;
    }
}

@media screen and (max-width: 319px){

    .header__schedules{
        margin-top: 1rem;
    }
}

.header__schedule{
    background-image: url("../images/time.svg");
}

.header__schedule:not(:last-of-type){
    margin-bottom: 1.7rem;
}

.header__schedule-title{
    font-size: 1.5rem;
}

@media screen and (min-width: 768px){

    .header__container{
        display: flex;
        justify-content: space-between;;
        align-items: center;
        flex-wrap: wrap;
    }
}
