.menu{
    background: @main-color;
}

.menu__list{
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.menu__list-item{
    float: left;
}

.menu__list:after{
    display: block;
    content: "";
    clear: left;
}

.menu__link{
    position: relative;
    display: block;
    padding: 1rem;
    color: @white-color;
    transition: background .3s,
                border .3s; //Свойство не работает из-за нескольких псевдосостояний!!!

    &:hover:after, &:active:after{
        position: absolute;
        bottom: 0;
        left: 0;
        content:"";
        width: 100%;
        border-bottom: 2px solid @white-color;
    }

    &:hover, &:active{
        background: #4758a5;
    }
}
