.news-item{
    display: flex;
    align-items: flex-start;
}

.news-item__layout:not(:last-child){
    margin-bottom: 4.4rem;
}

.news-item__date{
    margin-right: 1.9rem;
    line-height: 1;
    text-align: center;

    flex: none;
    width: 47px;
}

.news-item__number{
    display: block;
}

.news-item__number{
    font-weight: 700;
    color: @main-color;
    margin-bottom: .8rem;
}

@media screen and (max-width: 768px){

    .news-item__number{
        margin-bottom: .6rem;
    }
}

@media screen and (min-width: 651px){

    .news-item__number{
        font-size: 4.5rem;
    }
}

@media screen and (max-width: 650px){

    .news-item__number{
        font-size: 4rem;
    }
}

.news-item__month{
    display: block;
}

.news-item__year{
    font-size: 1.5rem;
}

.news-item__content{
    margin-top: 1.5rem;
}
