.search{
    width: 40%;
    margin-right: 4rem;
}

.search__hint{
    display: block;
    font-weight: 700;
    margin-bottom: 1.2rem;
}

.search__row{
    position: relative;
}

::-webkit-input-placeholder{
   color: @grey-color;
}

.search__input{
    width: 100%;
    box-sizing: border-box;
    padding: 1.2rem 3.3rem 1.2rem 4.3rem;
    border: 1px solid @grey-color;
    background-image: url("../images/loupe.png");
    background-repeat: no-repeat;
    background-position: 3% 50%;
}

.search__button{
    position: absolute;
    top: .1rem;
    right: .1rem;
    padding-top: 2.3rem;
    padding-right: 3.3rem;
    text-indent: -9999px;
    border: none;
    background-color: @white-color;
    background-image: url("../images/arrow.png");
    background-repeat: no-repeat;
    background-position: center;

    &:hover{
        cursor: pointer;
    }
}
